.form{
    position: fixed;
    top: 10%;
    left: calc(50% - 500px);
    width: 1000px;
    height: 40px;
    z-index: 3;
    padding-top: 100px;
}

.form .card{
    position: relative;
    padding-top: 100px;
}

.form_cross-icon {
    width: 40px;
    height: 40px;
    color: #4E4F54;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border-radius: 100px;
    padding: 5px;
    transition: all .3s;
}

.form_cross-icon:hover {
    color: #6c6d74;
}

@media screen and (max-width: 1020px){
    .form{
        position: fixed;
        top: 10%;
        left: 2vw;
        width: 96vw;
        height: 40px;
        z-index: 3;
        padding-top: 100px;
    }
}

@media screen and (max-width: 630px) {
    .form .card{
        padding-top: 50px;
    }
    .form_cross-icon {
        width: 30px;
        height: 30px;
        right: 10px;
        top: 10px;
    }
}